.container {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 3rem 5rem;
    width: 30px;
}
.title {
    font-size: 14px;
}