.container {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    min-height: 340px;
    display: flex;
    flex-direction: column;
    margin-bottom: 8vh;
}
.title {
    max-width: 26vh;
    text-align: center;
    margin-bottom: 5px;
    font-size: 14px;
}
.description {
    margin-left: 10px;
    justify-content: center;
    margin-top: 16px;
}

.add_to_card_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.add_to_card_plus_content {
    width: 160px;
    display: flex;
    margin: 6px;
    justify-content: space-between;
}

.add_to_card_Button {
    background-color: black;
    border-color: #EC1D24;
    padding: 5px;
    font-size: 15px;
}