.container {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    border-radius: 12px;
    min-height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6vh;
}
.title {
    max-width: 26vh;
    color: black;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}
.description {
    margin-left: 10px;
    justify-content: center;
    margin-top: 16px;
}

.add_to_card_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.add_to_card_plus_content {
    width: 160px;
    display: flex;
    margin: 6px;
    justify-content: space-between;
}

.add_to_card_Button {
    background-color: black;
    border-color: #EC1D24;
    padding: 5px;
    font-size: 15px;
}

.button {
    margin: 20px;
    background-color: none;
    height: 30px;
}
.button:hover {
    transform: scale(1.1);
}

.add_to_Card_butt {
    background-color: #007bff;
    display: flex;
    flex-direction: row;
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; 
    transition: background-color 0.3s ease-in-out; 

  }
  
  .add_to_Card_butt:hover {
    background-color: #2b89ed; 
  }