.container {
    background-color: white;
    width: 60%;
    height: 30vh;
    margin: 10px;
    border-radius: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo_title {
    margin: 15px;
    font-size: 17px;
    color: black;
}

.promo_input {
    background-color: black;
    border-radius: 8px;
    margin-left: 20px;
    border-width: 2px;
    padding: 6px;
    border-color: #EC1D24;
}

.payment_amount {
    color: black;
    margin: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.payment_value {
    font-weight: 400;
    margin-top: 6px;
    margin-left: 20px;
    text-align: center;
}

.pay_button {
    background-color: #EC1D24; 
    color: #fff; 
    border: none; 
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 20px;
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease-in-out; 
  
  }
  
  .pay_button:hover {
    background-color: #d6363b;
  }
  
  
  
  
  
  
