.content {
  background-color: black;
  height: 100vh
}

.searchContainer {
  justify-content: center;
  margin-top: 20px;
  display: flex;
}
.subtitle {
  margin: 30px;
  font-family: 'Times New Roman'
}

.not_Found {
  text-align: center;
  margin: 100px
}


.add_to_card_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.add_to_card_plus_content {
  width: 160px;
  display: flex;
  margin: 6px;
  justify-content: space-between;
}

.add_to_card_Button {
  background-color: black;
  border-color: #EC1D24;
  padding: 5px;
  font-size: 15px;
}